---
import RegisterButton from './RegisterButton.astro';
import SignUpButton from './SignUpButton.astro';
---

<nav class="bg-[#424242] border-gray-200 p-2 sticky top-0 z-10 xl:px-20">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="Logo/Color.svg" class="h-8" alt="HackReality Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">HackReality</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <SignUpButton />
      <RegisterButton />
      <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-[#333333] focus:outline-none focus:ring-2 focus:ring-[#333333]" aria-controls="navbar-cta" aria-expanded="false">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="items-center justify-between py-2 hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <div class="flex w-full">
        <ul class="flex flex-col min-w-full font-medium mt-4 p-4 pt-6 pb-6 md:p-0 border border-[#333333] rounded-lg md:bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
          <li>
            <a href="#about" class="block py-2 px-3 md:p-0 text-white rounded md:bg-transparent hover:underline hover:text-[#8ef187]" aria-current="page">About</a>
          </li>
          <li>
            <a href="#schedule" class="block py-2 px-3 md:p-0 text-white rounded md:bg-transparent hover:underline hover:text-[#8ef187]">Schedule</a>
          </li>
          <li>
            <a href="#sponsors" class="block py-2 px-3 md:p-0 text-white rounded md:bg-transparent hover:underline hover:text-[#8ef187]">Sponsors</a>
          </li>
          <li>
            <a href="#future-events" class="block py-2 px-3 md:p-0 text-white rounded md:bg-transparent hover:underline hover:text-[#8ef187]">Future Events</a>
          </li>
          <li class="mt-4 block xl:hidden 2xl:hidden lg:hidden md:hidden ">
            <a href="#" class=" text-slate-200 text-lg mr-2 px-4 py-2 rounded-full font-bold hover:bg-[#7A4F9E] hover:text-black transition-colors duration-300">
              Sign In
          </a>
          <a 
          href="#" 
          class="bg-[#81E77A] text-[#2F2F2F] px-4 py-2 rounded-full font-bold hover:bg-[#7A4F9E] hover:text-white transition-colors duration-300"
          >
          Register Now
          </a>
          </li>
        </ul>
  </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.querySelector('[data-collapse-toggle="navbar-cta"]');
    const menu = document.getElementById('navbar-cta');

    toggleButton.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  });
</script>

